<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="<%= root_url %>" class="navbar-brand">Countries API's</a>
  </div>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Public API's from every country</h1>
    <p class="lead text-muted">We believe the world can be better if we have data at our disposal. Technology will shape the world to the extent information is available so use it wisely.</p>
    <form action="<%= apis_path %>" method="get" class="form-inline justify-content-center search-form">
      <input type="text" name="query" placeholder="ex. CTT" class="form-control">
      <input type="submit" value="Search" class="btn btn-primary">
    </form>
  </div>
</section>

<div class="album text-muted">
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <div class="countries">
          <% if !@country %>
            <% @countries.each do |country| %>
              <a href="?country=<%= country.slug %>"><div class="country"><%= country.name %></div></a>
            <% end %>
          <% else %>
            <div class="country"><%= @country.name %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <% @apis.each do |api| %>
        <div class="col-md-4 api-col">
          <div class="card">
            <h5>
              <a href="<%= api.link %>" target="_blank"><%= api.name %></a> 
              <% if api.https %><i class="fa fa-lock api-info-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="HTTPS secure"></i><% end %> 
              <% if api.paid %><i class="fa fa-dollar api-info-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Paid access"></i><% end %>
            </h5>
            <p class="card-text"><%= api.description %></p>
            <div class="country"><%= api.country.name %></div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Countries API's is brought to you by <a href="http://twitter.com/jackveiga">Jack Veiga</a> & <a href="http://twitter.com/alvesjtiago">Tiago Alves</a>.</p>
    <p>Follow us on <a href="http://twitter.com/countries-apis">Twitter</a> for updates.</p>
  </div>
</footer>
